<h1>Edit Account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_account_path(@conn, :update, current_user(@conn).id, @account)) %>

<span><%= link "Back", to: Routes.user_account_path(@conn, :index, current_user(@conn).id) %></span>
